[Unit]
Description = isucon6 qualifier main application in Go

[Service]
WorkingDirectory=/home/isucon/isucon6q
EnvironmentFile=/home/isucon/isucon6q/env.sh

ExecStart = /home/isucon/isucon6q/isuda

Restart   = always
Type      = simple
User      = isucon
Group     = isucon

[Install]
WantedBy = multi-user.target
