[mysqld_safe]
socket          = /var/run/mysqld/mysqld.sock
nice            = 0

[mysqld]
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
# bind-address            = 127.0.0.1
max_allowed_packet      = 16M
log_error = /var/log/mysql/error.log

# For slow query
slow_query_log=ON
long_query_time = 0
slow_query_log_file = /tmp/mysql-slow.sql

# InnoDB setting : ref https://gist.github.com/south37/d4a5a8158f49e067237c17d13ecab12a#innodb-buffer
innodb_buffer_pool_size = 1GB
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT

# kamipo TRADITIONAL
sql_mode = TRADITIONAL,NO_AUTO_VALUE_ON_ZERO,ONLY_FULL_GROUP_BY

# Max Connection
max_connections=10000
